<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008075231782-l6ssmiauti5msa34gb0e29g6oj966htk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008075231782-l6ssmiauti5msa34gb0e29g6oj966htk</string>
	<key>API_KEY</key>
	<string>AIzaSyB3Z0qWbPu20zlpzyi2CzPgm-5OJQ7unXg</string>
	<key>GCM_SENDER_ID</key>
	<string>1008075231782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-a4958</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-a4958.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008075231782:ios:d00a131c35722afb77cce7</string>
</dict>
</plist>